.container{
    margin-top: 50px;
}
.brand{
    height: 225px;
    margin-top: 0;
}
.btn{
    margin-top: 15px;
    background-color: burlywood;
    color: mediumblue;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    height: 75px;
    font-size: 25pt;
    font-weight: bold;
    border-radius: 50%;
}
.btn:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.logo{
    position: relative;
    float: right;
}
@media only screen and (max-width: 600px) {
 .btn{
     font-size: 18pt;
     font-weight: bold;
 }
 .brand{
     width: 75%;
 }
}

